<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.sayyo.model.question.mapper.QuestionMapper">

    <insert id="regist" parameterType="com.pj.sayyo.model.question.dto.QuestionDto">
        INSERT INTO QUESTION(ID, CONTENT, ANSWER, OPTION1, OPTION2, OPTION3, OPTION4)
        VALUES (#{id}, #{content}, #{answer}, #{option1}, #{option2}, #{option3}, #{option4})
    </insert>

    <select id="findAll"
            resultType="com.pj.sayyo.model.question.dto.QuestionDto">
        SELECT ID, CONTENT, ANSWER, OPTION1, OPTION2, OPTION3, OPTION4
        FROM QUESTION
    </select>

    <update id="modify" parameterType="com.pj.sayyo.model.question.dto.QuestionDto">
        UPDATE QUESTION
        SET CONTENT = ${content}, OPTION1 = ${option1}, OPTION2 = #{option2}, OPTION3 = #{option3}, OPTION4 = ${option4}, ANSWER = ${answer}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="com.pj.sayyo.model.question.dto.QuestionDto">
        DELETE QUESTION
        WHERE ID = #{id}
    </delete>

    <select id="findSearch" parameterType="com.pj.sayyo.model.question.dto.QuestionDto" resultType="com.pj.sayyo.model.question.dto.QuestionDto">
        SELECT ID, CONTENT, ANSWER, OPTION1, OPTION2, OPTION3, OPTION4
        FROM QUESTION
        WHERE CONTENT LIKE CONCAT('%', #{content}, '%')
    </select>

    <select id="isCorrect" parameterType="com.pj.sayyo.model.question.dto.QuestionDto" resultType="boolean">
        SELECT COUNT(*)
        FROM QUESTION
        WHERE CONTENT = #{content} AND ANSWER = #{answer}
    </select>
</mapper>