<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.sayyo.model.fulfillment.mapper.FulfillmentMapper">

    <insert id="regist" parameterType="com.pj.sayyo.model.fulfillment.dto.FulfillmentDto">
        INSERT INTO FULFILLMENT(REGION, NAME, PLAN_NUM, COMPLETE_NUM, TRY_NUM, REGION_DEV, FULFILLMENT)
        VALUES (#{region}, #{name}, #{planNum},
                #{completeNum}, #{tryNum}, #{regionDev})
    </insert>

    <select id="findAll"
            resultType="com.pj.sayyo.model.fulfillment.dto.FulfillmentDto">
        SELECT REGION, NAME, PLAN_NUM, COMPLETE_NUM, TRY_NUM, REGION_DEV, FULFILLMENT
        FROM FULFILLMENT
    </select>

    <update id="modify" parameterType="com.pj.sayyo.model.fulfillment.dto.FulfillmentDto">
        UPDATE FULFILLMENT
        SET PLAN_NUM = #{planNum}, COMPLETE_NUM = #{completeNum}, TRY_NUM = ${tryNum}, REGION_DEV = #{regionDev}
        WHERE REGION = #{region}
    </update>

    <delete id="delete" parameterType="com.pj.sayyo.model.fulfillment.dto.FulfillmentDto">
        DELETE FROM FULFILLMENT
        WHERE REGION = #{region}
    </delete>

    <select id="findSearch" parameterType="com.pj.sayyo.model.fulfillment.dto.FulfillmentDto" resultType="com.pj.sayyo.model.fulfillment.dto.FulfillmentDto">
        SELECT REGION, NAME, PLAN_NUM, COMPLETE_NUM, TRY_NUM, REGION_DEV, FULFILLMENT
        FROM FULFILLMENT
        WHERE REGION = #{region}
    </select>

    <select id="returnF" parameterType="com.pj.sayyo.model.fulfillment.dto.FulfillmentDto" resultType="java.math.BigDecimal">
        SELECT ((COMPLETE_NUM + TRY_NUM/10)/PLAN_NUM + REGION_DEV/100)
        FROM FULFILLMENT
        WHERE REGION = #{region}
    </select>

    <update id="setFulfillment" parameterType="com.pj.sayyo.model.fulfillment.dto.FulfillmentDto">
        UPDATE FULFILLMENT
        SET FULFILLMENT = ((COMPLETE_NUM + TRY_NUM/10)/PLAN_NUM + REGION_DEV/100) * 100
        WHERE REGION = #{region}
    </update>

    <select id="topFive" resultType="com.pj.sayyo.model.fulfillment.dto.FulfillmentDto">
        SELECT REGION, NAME, PLAN_NUM, COMPLETE_NUM, TRY_NUM, REGION_DEV, FULFILLMENT
        FROM FULFILLMENT
        ORDER BY FULFILLMENT DESC
        LIMIT 5
    </select>

</mapper>