<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.sayyo.model.pLike.mapper.PLikeMapper">

    <insert id="like" parameterType="com.pj.sayyo.model.pLike.dto.PLikeDto">
        INSERT INTO PLIKES(MEMBER_ID, POLITICIAN_NUM, LIKE_STATE)
        VALUES (#{memberId}, #{politicianNum}, 1)
    </insert>

    <update id="polLike" parameterType="com.pj.sayyo.model.pLike.dto.PLikeDto">
        UPDATE POLITICIAN
        SET LIKES = LIKES+1
        WHERE ID = #{politicianNum}
    </update>

    <update id="cancelLike" parameterType="com.pj.sayyo.model.pLike.dto.PLikeDto">
        UPDATE PLIKES
        SET LIKE_STATE = 0
        WHERE MEMBER_ID = #{memberId} AND POLITICIAN_NUM = #{politicianNum}
    </update>


    <update id="polCancelLike" parameterType="com.pj.sayyo.model.pLike.dto.PLikeDto">
        UPDATE POLITICIAN
        SET LIKES = LIKES-1
        WHERE ID = #{politicianNum}
    </update>

    <insert id="dislike" parameterType="com.pj.sayyo.model.pLike.dto.PLikeDto">
        INSERT INTO PLIKES(MEMBER_ID, POLITICIAN_NUM, LIKE_STATE)
        VALUES (#{memberId}, #{politicianNum}, 2)
    </insert>

    <insert id="polDislike" parameterType="com.pj.sayyo.model.pLike.dto.PLikeDto">
        UPDATE POLITICIAN
        SET DISLIKE = DISLIKE+1
        WHERE ID = #{politicianNum}
    </insert>

    <update id="polCancelDislike" parameterType="com.pj.sayyo.model.pLike.dto.PLikeDto">
        UPDATE POLITICIAN
        SET DISLIKE = DISLIKE-1
        WHERE ID = #{politicianNum}
    </update>

    <select id="findLike" parameterType="com.pj.sayyo.model.pLike.dto.PLikeDto" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM P_LIKES
        WHERE MEMBER_ID = #{memberId} AND POLITICIAN_NUM = #{politicianNum}
    </select>


    <select id="findState" parameterType="com.pj.sayyo.model.pLike.dto.PLikeDto" resultType="com.pj.sayyo.model.pLike.dto.PLikeDto">
        SELECT LIKE_STATE
        FROM PLIKES
        WHERE MEMBER_ID = #{memberId} AND POLITICIAN_NUM = #{politicianNum}
    </select>

    <delete id="deleteLike" parameterType="com.pj.sayyo.model.pLike.dto.PLikeDto">
        DELETE FROM PLIKES
        WHERE MEMBER_ID = #{memberId} AND POLITICIAN_NUM = #{politicianNum}
    </delete>

</mapper>