<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.sayyo.model.politician.mapper.PoliticianMapper">

    <insert id="regist" parameterType="com.pj.sayyo.model.politician.dto.PoliticianDto">
        INSERT INTO POLITICIAN(ID, NAME, LIKES, DISLIKE, BIRTH, GRADE)
        VALUES (#{id}, #{name},
                #{likes}, #{dislike}, #{birth}, #{grade})
    </insert>

    <select id="findAll"
            resultType="com.pj.sayyo.model.politician.dto.PoliticianDto">
        SELECT ID, NAME, LIKES, DISLIKE, BIRTH, GRADE
        FROM POLITICIAN
    </select>

    <update id="modify" parameterType="com.pj.sayyo.model.politician.dto.PoliticianDto">
        UPDATE POLITICIAN
        SET BIRTH = #{birth}, GRADE = #{grade}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="com.pj.sayyo.model.politician.dto.PoliticianDto">
        DELETE FROM POLITICIAN
        WHERE ID = #{id}
    </delete>

    <update id="likes" parameterType="com.pj.sayyo.model.politician.dto.PoliticianDto">
        UPDATE POLITICIAN
        SET LIKES = LIKES+1
        WHERE ID = #{id}
    </update>

    <update id="dislike" parameterType="com.pj.sayyo.model.politician.dto.PoliticianDto">
        UPDATE POLITICIAN
        SET DISLIKE = DISLIKE+1
        WHERE ID = #{id}
    </update>

    <select id="findSearch" parameterType="com.pj.sayyo.model.politician.dto.PoliticianDto" resultType="com.pj.sayyo.model.politician.dto.PoliticianDto">
        SELECT ID, NAME, KOR_SCORE, ENG_SCORE, MATH_SCORE
        FROM POLITICIAN
        WHERE ID = #{id}
    </select>
</mapper>
