<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.sayyo.model.politician.mapper.PoliticianMapper">

    <insert id="regist" parameterType="com.pj.sayyo.model.politician.dto.PoliticianDto">
        INSERT INTO POLITICIAN(ID, REGION, NAME, LIKES, DISLIKE, BIRTH, GRADE, EDUCATION, CAREER, AWARDS, YOUTUBE, BLOG, INSTAGRAM, KAKAO, PARTY)
        VALUES (#{id}, #{name}, #{region},
                #{likes}, #{dislike}, #{birth}, #{grade}, #{education}, #{career}, #{awards})
    </insert>

    <select id="findAll"
            resultType="com.pj.sayyo.model.politician.dto.PoliticianDto">
        SELECT ID, REGION, NAME, LIKES, DISLIKE, BIRTH, GRADE, EDUCATION, CAREER, AWARDS, YOUTUBE, BLOG, INSTAGRAM, KAKAO, PARTY
        FROM POLITICIAN
    </select>

    <update id="modify" parameterType="com.pj.sayyo.model.politician.dto.PoliticianDto">
        UPDATE POLITICIAN
        SET BIRTH = #{birth}, GRADE = #{grade}
        WHERE REGION = #{region}
    </update>

    <delete id="delete" parameterType="com.pj.sayyo.model.politician.dto.PoliticianDto">
        DELETE FROM POLITICIAN
        WHERE REGION = #{region}
    </delete>

    <update id="likes" parameterType="com.pj.sayyo.model.politician.dto.PoliticianDto">
        UPDATE POLITICIAN
        SET LIKES = LIKES+1
        WHERE REGION = #{region}
    </update>

    <update id="dislike" parameterType="com.pj.sayyo.model.politician.dto.PoliticianDto">
        UPDATE POLITICIAN
        SET DISLIKE = DISLIKE+1
        WHERE REGION = #{region}
    </update>

    <select id="findSearch" parameterType="com.pj.sayyo.model.politician.dto.PoliticianDto" resultType="com.pj.sayyo.model.politician.dto.PoliticianDto">
        SELECT ID, REGION, NAME, LIKES, DISLIKE, BIRTH, GRADE, EDUCATION, CAREER, AWARDS, YOUTUBE, BLOG, INSTAGRAM, KAKAO, PARTY
        FROM POLITICIAN
        WHERE REGION = #{region}
    </select>

</mapper>
