<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.sayyo.model.board.mapper.BoardMapper">

    <insert id="regist" parameterType="com.pj.sayyo.model.board.dto.BoardDto">
        INSERT INTO POLLBOARD(ID, NUM, TITLE, CONTENT, NOW_DATE)
        VALUES (#{id}, #{num},
        #{title}, #{content}, #{currentDate})
    </insert>

    <select id="findAll"
            resultType="com.pj.sayyo.model.board.dto.BoardDto">
        SELECT ID, NUM, TITLE, CONTENT, NOW_DATE
        FROM POLLBOARD
    </select>

    <update id="modify" parameterType="com.pj.sayyo.model.board.dto.BoardDto">
        UPDATE POLLBOARD
        SET TITLE = #{title}, CONTENT = #{content}
        WHERE NUM = #{num}
    </update>

    <delete id="delete" parameterType="com.pj.sayyo.model.board.dto.BoardDto">
        DELETE POLLBOARD
        WHERE NUM = #{num}
    </delete>

    <select id="findSearch" parameterType="com.pj.sayyo.model.board.dto.BoardDto" resultType="com.pj.sayyo.model.board.dto.BoardDto">
        SELECT (ID, NUM, TITLE, CONTENT, NOW_DATE)
        FROM POLLBOARD
        WHERE ID = #{id} AND NUM = #{num}
    </select>

</mapper>