<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.sayyo.model.voting.mapper.VotingMapper">

    <insert id="regist" parameterType="com.pj.sayyo.model.voting.dto.VotingDto">
        INSERT INTO VOTING(TITLE, NUM, AFFIL, NAME, SCORE, PERCENTAGE)
        VALUES (#{title}, #{num},
                #{affil}, #{name}, #{score}, 0)
    </insert>

    <delete id="delete" parameterType="com.pj.sayyo.model.voting.dto.VotingDto">
        DELETE FROM VOTING
        WHERE NUM = #{num} AND TITLE = #{title}
    </delete>

    <select id="findAll" resultType="com.pj.sayyo.model.voting.dto.VotingDto">
        SELECT TITLE, NUM, AFFIL, NAME, SCORE, PERCENTAGE FROM VOTING
    </select>

    <update id="voteScore" parameterType="com.pj.sayyo.model.voting.dto.VotingDto">
        UPDATE VOTING
        SET SCORE = SCORE + 1
        WHERE TITLE = #{title} AND NUM = #{num}
    </update>

    <insert id="voted" parameterType="com.pj.sayyo.model.voting.dto.VotedDto">
        INSERT INTO VOTED(TITLE, MEMBER_ID, NUM)
        VALUES (#{title,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, #{num})
    </insert>

    <select id="findVoted" resultType="int" parameterType="com.pj.sayyo.model.voting.dto.VotedDto">
        SELECT COUNT(*) FROM VOTED
        WHERE TITLE = #{title} AND MEMBER_ID = #{memberId}
    </select>

    <update id="candidates" parameterType="com.pj.sayyo.model.voting.dto.VotingDto">
        UPDATE VOTING v1
            JOIN (
            SELECT TITLE, SUM(SCORE) AS TOTAL_SCORE
            FROM VOTING
            GROUP BY TITLE
            ) v2 ON v1.TITLE = v2.TITLE
            SET v1.PERCENTAGE = v1.SCORE / v2.TOTAL_SCORE * 100
        WHERE v1.TITLE = #{title};
    </update>

    <insert id="votedata" parameterType="com.pj.sayyo.model.voting.dto.VotedataDto">
        INSERT INTO VOTEDATA(TITLE, MEMBER_ID, NUM, GENDER, AGE, REGION)
        VALUES (#{title,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, #{num}, #{gender}, #{age}, #{region})
    </insert>

    <select id="getData" resultType="int" parameterType="com.pj.sayyo.model.voting.dto.VotedataDto">
        SELECT COUNT(*) FROM VOTEDATA
    </select>
    <!--  성별  -->
    <select id="getGender" resultType="int" parameterType="com.pj.sayyo.model.voting.dto.VotedataDto">
        SELECT COUNT(*) FROM VOTEDATA
        WHERE GENDER = #{gender}
    </select>

    <!--  지역  -->
    <select id="getRegion" resultType="int" parameterType="com.pj.sayyo.model.voting.dto.VotedataDto">
        SELECT COUNT(*) FROM VOTEDATA
        WHERE REGION = #{region}
    </select>

    <!--  나이  -->
    <select id="getAge" resultType="int" parameterType="com.pj.sayyo.model.voting.dto.VotedataDto">
        SELECT COUNT(*) FROM VOTEDATA
        WHERE AGE = #{age}
    </select>

</mapper>