<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.sayyo.model.answer.mapper.AnswerMapper">
    <!--                      Answer                       -->
    <insert id="regist" parameterType="com.pj.sayyo.model.answer.dto.AnswerDto">
        INSERT INTO ANSWER(ID, CONTENT, ISVALID)
        VALUES (#{id}, #{content},  #{isValid})
    </insert>

    <select id="findAll"
            resultType="com.pj.sayyo.model.answer.dto.AnswerDto">
        SELECT ID, CONTENT, ISVALID
        FROM ANSWER
    </select>

    <update id="modify" parameterType="com.pj.sayyo.model.answer.dto.AnswerDto">
        UPDATE ANSWER
        SET CONTENT = #{content}, ISVALID = #{isValid}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="com.pj.sayyo.model.answer.dto.AnswerDto">
        DELETE FROM ANSWER
        WHERE ID = #{id}
    </delete>

    <select id="findSearch" parameterType="com.pj.sayyo.model.answer.dto.AnswerDto" resultType="com.pj.sayyo.model.answer.dto.AnswerDto">
        SELECT ID, CONTENT, ISVALID
        FROM ANSWER
        WHERE ID = #{id}
    </select>
</mapper>
